.container {
  padding-top: 150px;
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0) 20%,
      rgba(4, 21, 45, 1) 100%
    ),
    url("https://image.tmdb.org/t/p/original/GNeuKnbZRZj5JhKfnJOPyKJuVA.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  height: 100vh;
  .mainContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    .searchBar {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      max-width: 800px;
      background: white;
      border-radius: 50px;
      overflow: hidden;
      box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
      input {
        flex: 1;
        border: none;
        outline: none;
        padding: 15px 25px;
        font-size: 18px;
        border-radius: 50px 0 0 50px;
      }
      button {
        background: linear-gradient(90deg, #b618ba, #d72b6e);
        color: white;
        font-size: 18px;
        font-weight: 600;
        border: none;
        padding: 15px 35px;
        border-radius: 0 50px 50px 0;
        cursor: pointer;
      }
    }
  }
}
