.container {
  padding-block: 100px;
  .mainContainer {
    .movieTop {
      display: flex;
      align-items: center;
      justify-content: space-between;

      h3 {
        font-size: 25px;
      }
      .selected {
        max-width: 500px;
        width: 100%;
        select {
          width: 100%;
          height: 35px;
          color: white;
          background: #173d77;
          border-radius: 10px;
          option {
            background: white;
            color: #000;
          }
        }
        display: flex;
        gap: 30px;
      }
    }
  }
}
